@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #606c38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fefae0;
}
.stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 20rem;
  background-color: #283618;
  border-radius: 1rem;
}
.timer-display {
  width: 17rem;
  max-width: 17rem;

  font-size: 50px;
  font-weight: 600;
}

.buttons {
  margin-top: 2rem;
}
.btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--clr);
  border-radius: 1rem;
  height: 4rem;
  width: 6rem;
  margin: 1.5rem;
  cursor: pointer;
}
